# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# PyInstaller
build/
dist/
*.spec

# Logs
*.log

# Database
*.db

# macOS
.DS_Store

# Windows
Thumbs.db